@font-face {
    font-family: 'Ribes';
    src: url('Ribes-Black.woff2') format('woff2'),
        url('Ribes-Black.woff') format('woff'),
        url('Ribes-Black.ttf') format('truetype'),
        url('Ribes-Black.svg#Ribes-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Necto Mono';
    src: url('NectoMono-Regular.woff2') format('woff2'),
        url('NectoMono-Regular.woff') format('woff'),
        url('NectoMono-Regular.ttf') format('truetype'),
        url('NectoMono-Regular.svg#NectoMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: white;
    color: black;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header { 
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #F0EA51;
    border-bottom: 2px solid black;
}
.header2 { 
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #5C7358;;
    border-bottom: 2px solid black;
    position: sticky; top: 0;
}
h1 {
    font-family: 'Ribes';
    font-size: 50px;
    color: black;
}
p {
    font-family: 'Necto Mono';
    font-size: 20px;
    color: black;
    margin-top: .5em ;
    margin-bottom: .5em ;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: #F05245;
}
a:active {
    color: black;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.oval {
    height: 125px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
} 
.outer-container {
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
}
.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.text {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F0EA51;
}
.oval-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
} 
.big-oval {
    align-items: center;
    display: flex;
    height: 600px;
    width: 1200px;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.oval1 {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 50%;
}
.logo {
    display: flex;
    justify-content: center;
}
#logo {
    display: flex;
    flex-wrap: nowrap;
    height: 80%;
    width: 80%;
}
#homebutton {
    transition: transform .8s ease-in-out;
    transform-origin: 50% 50% 0;
    } 
#homebutton:hover {
    transform: rotate(360deg);
}
.responsive {
     width: 100%;
     max-width: 800px;
     height: auto;
}
.responsive2 {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.green {
    background-color: #5C7358;
    border-bottom: 2px solid black;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:100%;
    background-color: #F0EA51;
    border-top: 2px solid black;
    margin-top: auto;
    padding: 1rem;
    position: sticky; bottom: 0;
}
.footer2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:100%;
    background-color: #5C7358;
    border-top: 2px solid black;
    margin-top: auto;
    padding: 1rem;
    position: sticky; bottom: 0;
    
}
.row1 {
    animation-duration: 20s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    overflow: hidden;
}
.top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
.sticker1 {
    display: flex;  
    flex-direction: row;
    justify-content: flex-end;
}
.galleryscroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#ceramic {
    position: absolute;
    height: 13rem;
    width: 13rem;
    z-index: 1;
}
#cup1 {
    position: absolute;
    width: 350px;
    z-index: inherit 2;
    margin-left: 80px;
}
@media screen and (max-width: 930px) {
    .outer-container {
        display: flex;  
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #ceramic {
        position: absolute;
        height: 8rem;
        width: 8rem;
        z-index: 1;
    }
    img {
        height: 32rem;
        width: 32rem;
    }
    .resize {
        width: 200px;
        height: 100%;
    }
    #cup1 {
        width: 100%/2;
        height: 100%/2;
    }

@media screen and (max-width: 600px) {
    .big-oval {
        display: flex;
        height: 175px;
        width: 300px;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-color: black;
        border-width: 2px;
    }
}
    .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width:100%;
        background-color: #F0EA51;
        border-top: 2px solid black;
        margin-top: auto;
        padding: 1rem;
    }
    .footer2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width:100%;
        background-color: #5C7358;
        border-top: 2px solid black;
        margin-top: auto;
        padding: 1rem;
        position: sticky; bottom: 0;
}
}



